<mat-sidenav-container class="app-container mat-typography">
    <mat-sidenav class="app-sidenav" mode="side" opened disable-close fixedInViewport>
        <app-railnav></app-railnav>
    </mat-sidenav>
    <mat-sidenav-content mode="side" opened>
        <app-alert></app-alert>

        <div class="payment">
            <app-account style="width:50%"></app-account>

            <app-bill style="width:50%"></app-bill>
        </div>

        <app-budget></app-budget>
    </mat-sidenav-content>
</mat-sidenav-container>