<mat-sidenav-container class="app-container mat-typography">
    <mat-sidenav class="app-sidenav" mode="side" opened disable-close fixedInViewport>
        <app-railnav></app-railnav>
    </mat-sidenav>
    <mat-sidenav-content mode="side" opened>
        <mat-card>
            <mat-card-content>
                <mat-card-header>
                    <mat-card-title>Alerts</mat-card-title>
                    <span class="spacer"></span>
                    <button mat-button>SEE MORE</button>
                </mat-card-header>
                <mat-divider [inset]="true"></mat-divider>

                <div class="alerts">
                    <section class="alert">
                        <h4>Heads up, you've used up 90% of your Shopping budget for this month.</h4>
                        <mat-icon>subject</mat-icon>
                    </section>
                    <section class="alert">
                        <h4 style="padding-right: 15px;">You've used $24 in ATM fees this month.</h4>
                        <mat-icon>local_atm</mat-icon>
                    </section>
                    <section class="alert">
                        <h4>You have an unpaid credit card balance of $324.04 with 5 days left in the month.</h4>
                        <mat-icon>credit_card</mat-icon>
                    </section>
                </div>
            </mat-card-content>
        </mat-card>

        <div class="payment">
            <mat-card style="width: 50%">
                <mat-card-content>
                    <mat-card-header>
                        <h3>Accounts</h3>
                    </mat-card-header>
                    <mat-card-header>
                        <h1 class="mat-display-3 ecz">$ 4,234.21</h1>
                    </mat-card-header>
                    <mat-divider [inset]="true"></mat-divider>

                    <div class="column">
                        <div matRipple [matRippleCentered]="centered" [matRippleDisabled]="disabled"
                            [matRippleUnbounded]="unbounded" [matRippleRadius]="radius" [matRippleColor]="color">
                            <section class="account">
                                <div fxLayout="col" fxLayoutGap="0px" class="color-tag">
                                    <div fxFlex style="height: 30px;
                                    background-color: #4ec19e;"></div>
                                </div>

                                <div>
                                    <h3 style="margin-bottom: -8px">Checkings</h3>
                                    <h3 style="color: rgb(190, 190, 190)">• • • • • • 4 2 3 4</h3>
                                </div>
                                <span class="spacer"></span>
                                <h2 style="margin-right: 20px;" class="ecz">$ 2321.62</h2>
                                <mat-icon>keyboard_arrow_right</mat-icon>
                            </section>
                        </div>
                        <div matRipple [matRippleCentered]="centered" [matRippleDisabled]="disabled"
                            [matRippleUnbounded]="unbounded" [matRippleRadius]="radius" [matRippleColor]="color">
                            <section class="account">
                                <div fxLayout="col" fxLayoutGap="0px" class="color-tag">
                                    <div fxFlex style="height: 30px;
                                            background-color: #10613b;"></div>
                                </div>
                                <div>
                                    <h3 style="margin-bottom: -8px"> Home Savings</h3>
                                    <h3 style="color: rgb(190, 190, 190)">• • • • • • 1 1 8 3</h3>
                                </div>
                                <span class="spacer"></span>
                                <h2 style="margin-right: 20px;" class="ecz">$ 1321.55</h2>
                                <mat-icon>keyboard_arrow_right</mat-icon>
                            </section>
                        </div>
                        <div matRipple [matRippleCentered]="centered" [matRippleDisabled]="disabled"
                            [matRippleUnbounded]="unbounded" [matRippleRadius]="radius" [matRippleColor]="color">
                            <section class="account">
                                <div fxLayout="col" fxLayoutGap="0px" class="color-tag">
                                    <div fxFlex style="height: 30px;
                                                    background-color: #56adff;"></div>
                                </div>
                                <div>
                                    <h3 style="margin-bottom: -8px"> Car Savings</h3>
                                    <h3 style="color: rgb(190, 190, 190)">• • • • • • 5 2 3 3</h3>
                                </div>
                                <span class="spacer"></span>
                                <h2 style="margin-right: 20px;" class="ecz">$ 502.12</h2>
                                <mat-icon>keyboard_arrow_right</mat-icon>
                            </section>
                        </div>
                    </div>
                    <div class="alerts">
                        <button mat-button>SEE ALL</button>
                    </div>
                </mat-card-content>
            </mat-card>

            <mat-card style="width: 50%">
                <mat-card-content>
                    <mat-card-header>
                        <h3>Bills</h3>
                    </mat-card-header>
                    <mat-card-header>
                        <h1 class="mat-display-3 ecz">$ 552.31</h1>
                    </mat-card-header>
                    <mat-divider [inset]="true"></mat-divider>

                    <div class="column">
                        <div matRipple [matRippleCentered]="centered" [matRippleDisabled]="disabled"
                            [matRippleUnbounded]="unbounded" [matRippleRadius]="radius" [matRippleColor]="color">
                            <section class="account">
                                <div fxLayout="col" fxLayoutGap="0px" class="color-tag">
                                    <div fxFlex style="height: 30px;
                                    background-color: #e64242;"></div>
                                </div>
                                <div>
                                    <h3 style="margin-bottom: -8px">Discover Credit</h3>
                                    <h3 style="color: rgb(190, 190, 190)">Due Sep 31</h3>
                                </div>
                                <span class="spacer"></span>
                                <h2 style="margin-right: 20px;" class="ecz">$ 121.76</h2>
                                <mat-icon>keyboard_arrow_right</mat-icon>
                            </section>
                        </div>
                        <div matRipple [matRippleCentered]="centered" [matRippleDisabled]="disabled"
                            [matRippleUnbounded]="unbounded" [matRippleRadius]="radius" [matRippleColor]="color">
                            <section class="account">
                                <div fxLayout="col" fxLayoutGap="0px" class="color-tag">
                                    <div fxFlex style="height: 30px;
                                                    background-color: #f5ff66;"></div>
                                </div>
                                <div>
                                    <h3 style="margin-bottom: -8px">Rent</h3>
                                    <h3 style="color: rgb(190, 190, 190)">Due Oct 1</h3>
                                </div>
                                <span class="spacer"></span>
                                <h2 style="margin-right: 20px;" class="ecz">$ 1000.00</h2>
                                <mat-icon>keyboard_arrow_right</mat-icon>
                            </section>
                        </div>
                        <div matRipple [matRippleCentered]="centered" [matRippleDisabled]="disabled"
                            [matRippleUnbounded]="unbounded" [matRippleRadius]="radius" [matRippleColor]="color">
                            <section class="account">
                                <div fxLayout="col" fxLayoutGap="0px" class="color-tag">
                                    <div fxFlex style="height: 30px;
                                            background-color: #ff7156;"></div>
                                </div>

                                <div>
                                    <h3 style="margin-bottom: -8px">Internet</h3>
                                    <h3 style="color: rgb(190, 190, 190)">Due Sep 31</h3>
                                </div>
                                <span class="spacer"></span>
                                <h2 style="margin-right: 20px;" class="ecz">$ 64.99</h2>
                                <mat-icon>keyboard_arrow_right</mat-icon>
                            </section>
                        </div>
                    </div>
                    <div class="alerts">
                        <button mat-button>SEE ALL</button>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>

        <mat-card class="payment">
            <mat-card-content style="min-width: 100%">
                <mat-card-header>
                    <mat-card-title>September Budget</mat-card-title>
                </mat-card-header>
                <mat-card-header>
                    <h1 class="mat-display-3 ecz">$ 552.31 <span style="font-size: 20px; margin-right: 10px;">Left
                        </span><span style="color:gray">/ $1210.00<span style="font-size: 20px;"> Total</span></span>
                    </h1>
                </mat-card-header>
                <div fxLayout="row" fxLayoutGap="0px" style="width: 100%;">
                    <div fxFlex="20" class="div1"></div>
                    <div fxFlex="20" class="div2"></div>
                    <div fxFlex="20" class="div3"></div>
                    <div fxFlex="20" class="div4"></div>
                    <div fxFlex="20" class="div5"></div>
                </div>

                <div class="column">

                    <section class="account">
                        <div>
                            <h3 style="margin-bottom: -8px; white-space: nowrap;">Groceries</h3>
                            <h3 style="color: rgb(190, 190, 190)">$181.02/$200.00</h3>
                        </div>
                        <mat-progress-bar mode="determinate" value="10" style="flex-grow: 1; margin: 10px 20px;">
                        </mat-progress-bar>
                        <h2 style="margin-right: 5px;">$18.98</h2>
                        <h3 style="color: rgb(190, 190, 190)">left</h3>
                    </section>

                    <section class="account">
                        <div>
                            <h3 style="margin-bottom: -8px; white-space: nowrap;">Restaurants</h3>
                            <h3 style="color: rgb(190, 190, 190)">$31.54/$100.00</h3>
                        </div>
                        <mat-progress-bar mode="determinate" value="69" style="flex-grow: 1; margin: 10px 20px;">
                        </mat-progress-bar>
                        <h2 style="margin-right: 5px;">$68.46</h2>
                        <h3 style="color: rgb(190, 190, 190)">left</h3>
                    </section>
                    <section class="account">
                        <div>
                            <h3 style="margin-bottom: -8px; white-space: nowrap;">Coffee</h3>
                            <h3 style="color: rgb(190, 190, 190)">$21.33/$60.00</h3>
                        </div>
                        <mat-progress-bar mode="determinate" value="65" style="flex-grow: 1; margin: 10px 20px;">
                        </mat-progress-bar>
                        <h2 style="margin-right: 5px;">$48.67</h2>
                        <h3 style="color: rgb(190, 190, 190)">left</h3>
                    </section>
                    <div class="alerts">
                        <button mat-button>SEE ALL</button>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
    </mat-sidenav-content>
</mat-sidenav-container>