<mat-toolbar>
    <section class="mat-typography">
        <mat-toolbar-row>
            <img src="../../assets/rally-logo.png" width="50px" height="50px" />
        </mat-toolbar-row>
        <mat-toolbar-row>
            <button mat-icon-button>
                <mat-icon>pie_chart</mat-icon>
                <h5>OVERVIEW</h5>
            </button>
        </mat-toolbar-row>
        <mat-toolbar-row>
            <button mat-icon-button>
                <mat-icon class="icon-inactive">attach_money</mat-icon>
            </button>
        </mat-toolbar-row>
        <mat-toolbar-row>
            <button mat-icon-button>
                <mat-icon class="icon-inactive">money_off</mat-icon>
            </button>
        </mat-toolbar-row>
        <mat-toolbar-row>
            <button mat-icon-button>
                <mat-icon class="icon-inactive">bar_chart</mat-icon>
            </button>
        </mat-toolbar-row>
        <mat-toolbar-row>
            <button mat-icon-button>
                <mat-icon class="icon-inactive">settings</mat-icon>
            </button>
        </mat-toolbar-row>
    </section>
</mat-toolbar>