mat-card {
    margin: 5px;
}
.spacer{
    flex: 1 1 auto;
}

.alert{
    max-width: 30%;
    margin: 10px 20px;
    display: flex;
    flex-direction: row;
}
.alerts{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.column{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.account{
    margin: 10px 5%;
    display: flex;
    flex-direction: row;
}

.mat-display-3{
    margin: 0 0 20px;
}

  .budget{
    display: flex;
    flex-direction: row;
    margin: 10px 5%;
}
  .ecz{
    font-family: 'Eczar', serif;
  }

  .part {
    height: 2px;
  }
  .div3{
    height: 2px;
    background-color: #56adff;;
  }
  .div5 {
    height: 2px;
    background-color: #ff7156;
  }

  .color-tag{
    width: 5px; 
    margin: 5px;
  }

  h1 {
    white-space: nowrap;
  }